<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_HOME" value="${app.log.dir:-logs}"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/data.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/data-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <Pattern>%date{ISO8601} %-5level [%thread] %logger{32} - %message%n</Pattern>
        </encoder>
    </appender>
    <appender name="dubboRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/dubbo.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/dubbo-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <Pattern>%date{ISO8601} %-5level [%thread] %logger{32} - %message%n</Pattern>
        </encoder>
    </appender>
    <logger name="com.alibaba.dubbo.registry" additivity="false" level="WARN">
        <appender-ref ref="dubboRollingFile" />
    </logger>

    <logger name="com.alibaba.dubbo" additivity="false" level="INFO">
        <appender-ref ref="dubboRollingFile" />
    </logger>

    <appender name="postTagFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/postTag.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/postTag-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <Pattern>%date{ISO8601} %message%n</Pattern>
        </encoder>
    </appender>

    <logger name="postTagLog" additivity="false" level="INFO">
        <appender-ref ref="postTagFile" />
    </logger>


    <appender name="subscribeTagFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/subscribeTag.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/subscribeTag-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <Pattern>%date{ISO8601} %message%n</Pattern>
        </encoder>
    </appender>

    <logger name="subscribeTagLog" additivity="false" level="INFO">
        <appender-ref ref="subscribeTagFile" />
    </logger>

    <appender name="tagFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/tag.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/tag-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <Pattern>%date{ISO8601} %message%n</Pattern>
        </encoder>
    </appender>

    <logger name="tagLog" additivity="false" level="INFO">
        <appender-ref ref="tagFile" />
    </logger>


    <appender name="tagCountFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/tagCount.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/tagCount-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <Pattern>%date{ISO8601} %message%n</Pattern>
        </encoder>
    </appender>

    <logger name="tagCountLog" additivity="false" level="INFO">
        <appender-ref ref="tagCountFile" />
    </logger>

    <appender name="tagIndexFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/tagIndex.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/tagIndex-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <Pattern>%date{ISO8601} %message%n</Pattern>
        </encoder>
    </appender>

    <logger name="tagIndexLog" additivity="false" level="INFO">
        <appender-ref ref="tagIndexFile" />
    </logger>

    <appender name="importLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/importLog.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/importLog-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <Pattern>%message%n</Pattern>
        </encoder>
    </appender>

    <logger name="importLog" additivity="false" level="INFO">
        <appender-ref ref="importLogFile" />
    </logger>

    <root level="ERROR">
        <appender-ref ref="rollingFile"/>
    </root>

</configuration>